.postPageContainer {
  display: flex;
  justify-content: center;
}

.postContainer {
  max-width: 1000px;
  padding: 0 2rem;
  margin-top: 7rem;
  margin-left: 3rem;
}

@media screen and (max-width: 700px) {
  .postPageContainer {
    flex-flow: column;
  }
  .postContainer {
    padding: 0 2rem;
    margin-left: 0;
    margin: 3rem 1rem;
    margin-bottom: 1rem;
  }
}
