body {
  background-color: black;
}

.test {
  background-color: #00b8cb52 !important;
}

/* Carausel Styling */
.carauselContainer {
  width: 100%;
}

.carauselImg {
  object-fit: cover;
  min-height: 40vh;
  max-height: 80vh;
  filter: contrast(90%) brightness(50%);
}

.centeringCaption {
  top: 10%;
}

.leftPart {
  text-align: left;
}

.rightPart {
  text-align: right;
}
.readBtn {
  color: white !important;
  background-color: #00b8cbd6 !important;
}
.brandLogo {
  width: 1.5rem;
}
.imgFluid {
  width: 100%;
}

.userIcon {
  width: 1.5rem;
  max-height: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.cardImg {
  max-height: 14.5rem;
  object-fit: cover;
}

.sticky {
  text-align: center;
  background-color: white;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  position: fixed;
  top: 10rem;
  left: 0 !important;
}

/* Carausel Styling */
.carauselContainer {
  width: 100%;
}

.carauselImg {
  object-fit: cover;
  max-height: 80vh;
  filter: contrast(90%) brightness(50%);
}

.centeringCaption {
  top: 10%;
}

.leftPart {
  text-align: left;
}

.rightPart {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .sticky {
    font-size: 2rem;
    padding: 2rem 0;
  }
  .centeringCaption {
    top: 30%;
  }
  .leftPart {
    text-align: right;
  }
}
