.brandLogo {
  width: 2rem;
}
.imgFluid {
  width: 100%;
}

.sticky {
  text-align: center;
  background-color: white;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  position: fixed;
  top: 10rem;
  left: 0 !important;
}

/* Carausel Styling */
.carauselContainer {
  width: 100%;
}

.carauselImg {
  object-fit: cover;
  max-height: 80vh;
  filter: contrast(90%) brightness(50%);
}

.centeringCaption {
  top: 30%;
}

.leftPart {
  text-align: left;
}

.rightPart {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .sticky {
    font-size: 2rem;
    padding: 2rem 0;
  }
}
